<!DOCTYPE html>
<html>

<%- include('../includes/head') %>

<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">

        <!-- The header is the topbar -->
        <%- include('../includes/header') %>

        <!-- The sidebar includes the menu -->
        <%- include('../includes/sidebar') %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h3> Basic </h3>
                <ol class="breadcrumb">
                    <li><a href="/"><i class="fa fa-home"></i>Selector</a></li>
                    <li><a href="<%=`/manage/${guild.id}/`%>"><%=guild.name%></a></li>
                    <li class="active">Basic</li>
                </ol>
            </section>

            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
                            <li role="presentation"><a href="#statistics" aria-controls="statistics" role="tab" data-toggle="tab">Statistics</a></li>
                            <li role="presentation"><a href="#moderation" aria-controls="moderation" role="tab" data-toggle="tab">Moderation</a></li>
                            <li role="presentation"><a href="#automod" aria-controls="automod" role="tab" data-toggle="tab">Auto Moderation</a></li>
                            <li role="presentation"><a href="#ticket" aria-controls="ticket" role="tab" data-toggle="tab">Ticket</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="general">
                                <!-- BASIC CONFIGURATION -->
                                <div class="box box-warning">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">General</h3>
                                    </div>
                                    <form role="form" action="/manage/<%= guild.id %>/basic/" method="POST">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label>Prefix</label>
                                                <input type="text" name="prefix" class="form-control" placeholder="<%= guild.prefix %>">
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="flag_translation" <%= guild.flag_translation?.enabled ? 'checked' : '' %>> Flag Translation
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="invite_tracking" <%= guild.invite.tracking ? 'checked' : '' %>> Invite Tracking
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box-footer">
                                            <button type="submit" name="basicUpdate" class="btn btn-primary">Update</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- END: BASIC CONFIGURATION -->
                            </div>

                            <div role="tabpanel" class="tab-pane" id="statistics">
                                <!-- STATISTICS CONFIGURATION -->
                                <div class="box box-warning">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Statistics</h3>
                                    </div>
                                    <form role="form" action="/manage/<%= guild.id %>/basic/" method="POST">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="ranking" <%= guild.stats.enabled ? 'checked' : '' %>> Tracking
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Levelup Message</label>
                                                <input type="text" name="levelup_message" class="form-control" placeholder="<%= guild.stats.xp.message %>">
                                            </div>
                                            <div class="form-group">
                                                <label>Levelup Channel</label>
                                                <select class="form-control" name="levelup_channel">
                                                    <% if(guild.stats.xp.channel && bot.channels.cache.has(guild.stats.xp.channel)){ %>
                                                        <option selected="selected">#<%= bot.channels.cache.get(guild.stats.xp.channel).name %></option>
                                                        <% guild.channels.cache.filter((ch) => ch.type === 0 && ch.id !== guild.stats.xp.channel).forEach((ch) => { %>
                                                            <option>#<%= ch.name %></option>
                                                        <% }); %>
                                                        <option>No channel</option>
                                                    <% } else { %>
                                                        <option disabled selected value> -- select an option -- </option>
                                                        <% guild.channels.cache.filter((ch) => ch.type === 0).forEach((ch) => { %>
                                                            <option>#<%= ch.name %></option>
                                                        <% }); %>
                                                    <% } %>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="box-footer">
                                            <button type="submit" name="statsUpdate" class="btn btn-primary">Update</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- END: STATISTICS CONFIGURATION -->
                            </div>

                            <div role="tabpanel" class="tab-pane" id="moderation">
                                <!-- MODERATION CONFIGURATION -->
                                <div class="box box-warning">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Moderation</h3>
                                    </div>
                                    <form role="form" action="/manage/<%= guild.id %>/basic/" method="POST">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label>Max Warnings</label>
                                                <input type="number" name="max_warnings" class="form-control" placeholder="<%= guild.max_warn.limit %>">
                                            </div>
                                            <div class="form-group">
                                                <label>Max Warnings Action</label>
                                                <select class="form-control" name="max_warn_action">
                                                    <option selected="selected"><%= guild.max_warn.action %></option>
                                                    <% if(guild.max_warn.action !== "TIMEOUT") { %>
                                                        <option>TIMEOUT</option>
                                                    <% } %>
                                                    <% if(guild.max_warn.action !== "KICK") { %>
                                                        <option>KICK</option>
                                                    <% } %>
                                                    <% if(guild.max_warn.action !== "BAN") { %>
                                                        <option>BAN</option>
                                                    <% } %>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Moderation Logs</label>
                                                <select class="form-control" name="modlog_channel">
                                                    <% if(guild.modlog_channel && bot.channels.cache.has(guild.modlog_channel)){ %>
                                                        <option selected="selected">#<%= bot.channels.cache.get(guild.modlog_channel).name %></option>
                                                        <% guild.channels.cache.filter((ch) => ch.type === 0 && ch.id !== guild.modlog_channel).forEach((ch) => { %>
                                                            <option>#<%= ch.name %></option>
                                                        <% }); %>
                                                        <option>No channel</option>
                                                    <% } else { %>
                                                        <option disabled selected value> -- select an option -- </option>
                                                        <% guild.channels.cache.filter((ch) => ch.type === 0).forEach((ch) => { %>
                                                            <option>#<%= ch.name %></option>
                                                        <% }); %>
                                                    <% } %>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="box-footer">
                                            <button type="submit" name="modUpdate" class="btn btn-primary">Update</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- END: MODERATION CONFIGURATION -->
                            </div>

                            <div role="tabpanel" class="tab-pane" id="automod">
                                <!-- AUTOMOD CONFIGURATION -->
                                <div class="box box-warning">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Auto Moderation</h3>
                                    </div>
                                    <form role="form" action="/manage/<%= guild.id %>/basic/" method="POST">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="maxStrikes">Max Strikes</label>
                                                <input type="number" id="maxStrikes" name="max_strikes" class="form-control" placeholder="<%= guild.automod.strikes %>" title="Maximum number of strikes before action is taken">
                                            </div>
                                            <div class="form-group">
                                                <label for="automodAction">Max Strikes Action</label>
                                                <select id="automodAction" class="form-control" name="automod_action" title="Action to take when max strikes are reached">
                                                    <option selected="selected"><%= guild.automod.action %></option>
                                                    <% if(guild.automod.action !== "TIMEOUT") { %>
                                                        <option>TIMEOUT</option>
                                                    <% } %>
                                                    <% if(guild.automod.action !== "KICK") { %>
                                                        <option>KICK</option>
                                                    <% } %>
                                                    <% if(guild.automod.action !== "BAN") { %>
                                                        <option>BAN</option>
                                                    <% } %>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="maxLines">Max Lines</label>
                                                <input type="number" id="maxLines" name="max_lines" class="form-control" placeholder="<%= guild.automod.max_lines %>" title="Maximum number of lines in a message before action is taken">
                                            </div>
                                            <div class="form-group">
                                                <label>Auto Moderation Settings</label>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="anti_attachments" <%= guild.automod.anti_attachments ? 'checked' : '' %>> Anti Attachments
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="anti_invites" <%= guild.automod.anti_invites ? 'checked' : '' %>> Anti Invites
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="anti_links" <%= guild.automod.anti_links ? 'checked' : '' %>> Anti Links
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="anti_spam" <%= guild.automod.anti_spam ? 'checked' : '' %>> Anti Spam
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="anti_ghostping" <%= guild.automod.anti_ghostping ? 'checked' : '' %>> Anti Ghostping
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="anti_massmention" <%= guild.automod.anti_massmention ? 'checked' : '' %>> Anti Massmention
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="whitelistedChannels">Whitelisted Channels -- hold Ctrl to select multiple (if on mac hold cmd)</label>
                                                <select class="form-control" name="channels[]" multiple id="whitelistedChannels" title="Select channels to whitelist from auto moderation">
                                                    <% guild.channels.cache.filter((ch) => ch.type === 0).forEach((ch) => { %>
                                                        <% if(guild.automod.wh_channels.includes(ch.id) ){ %>
                                                            <option selected="selected" value="<%= ch.id %>">#<%= ch.name %></option>
                                                        <% } else { %>
                                                            <option value="<%= ch.id %>">#<%= ch.name %></option>
                                                        <% } %>
                                                    <% }); %>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Selected Channels:</label>
                                                <ul id="selectedChannelsList">
                                                    <% guild.channels.cache.filter((ch) => guild.automod.wh_channels.includes(ch.id)).forEach((ch) => { %>
                                                        <li>#<%= ch.name %></li>
                                                    <% }); %>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="box-footer">
                                            <button type="submit" name="automodUpdate" class="btn btn-primary">Update</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- END: AUTOMOD CONFIGURATION -->
                            </div>

                            <div role="tabpanel" class="tab-pane" id="ticket">
                                <!-- TICKET CONFIGURATION -->
                                <div class="box box-warning">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Ticket</h3>
                                    </div>
                                    <form role="form" action="/manage/<%= guild.id %>/basic/" method="POST">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label>Ticket Limit</label>
                                                <input type="number" name="limit" class="form-control" placeholder="<%= guild.ticket.limit %>">
                                            </div>
                                            <div class="form-group">
                                                <label>Ticket Logs</label>
                                                <select class="form-control" name="channel">
                                                    <% if(guild.ticket.log_channel && bot.channels.cache.has(guild.ticket.log_channel)){ %>
                                                        <option selected="selected">#<%= bot.channels.cache.get(guild.ticket.log_channel).name %></option>
                                                        <% guild.channels.cache.filter((ch) => ch.type === 0 && ch.id !== guild.ticket.log_channel).forEach((ch) => { %>
                                                            <option>#<%= ch.name %></option>
                                                        <% }); %>
                                                        <option>No channel</option>
                                                    <% } else { %>
                                                        <option disabled selected value> -- select an option -- </option>
                                                        <% guild.channels.cache.filter((ch) => ch.type === 0).forEach((ch) => { %>
                                                            <option>#<%= ch.name %></option>
                                                        <% }); %>
                                                    <% } %>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="box-footer">
                                            <button type="submit" name="ticketUpdate" class="btn btn-primary">Update</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- END: TICKET CONFIGURATION -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Footer includes credits and version -->
            <%- include('../includes/footer') %>
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- ./wrapper -->
    <script>
        document.getElementById('whitelistedChannels').addEventListener('change', function() {
            const selectedChannels = Array.from(this.selectedOptions).map(option => option.textContent);
            const selectedChannelsList = document.getElementById('selectedChannelsList');
            selectedChannelsList.innerHTML = '';
            selectedChannels.forEach(channel => {
                const li = document.createElement('li');
                li.textContent = channel;
                selectedChannelsList.appendChild(li);
            });
        });
    </script>
</body>

</html>